* {
    margin: 0;
    padding: 0;

}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;

}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
}

main {
    max-width: 840px;
    margin: 0 auto;
    text-align: center;
}

nav {
    background-color: #333;
    padding: 0.5rem;
}

nav a {
    color: rgb(239, 236, 231);
    padding: 0.5em;
    text-decoration: none;
    display: block;
}

h1 {
    margin: 10px;
    text-align: center;
    color: steelblue;
}

h2 {
    border-bottom: 1px solid #222;
}

main img {
    width: 150px;
    height: auto;
    padding: 2px;
    border: 1px solid steelblue;
    box-shadow: 0 0 30px #333;
}

aside img {
    width: 200px;
    height: auto;

}

section {
    margin: 20px 0;
    background-color: #abe;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 10px;
    font-size: .9rem;

}

section p {
    margin: 10px;
}

p {
    padding: 0;
}

ul {
    margin: 10px 20px;

}

aside {

    width: 20rem;
    margin: 1rem auto;
    border: 1px solid;
    padding: 1rem;
    color: #333;
    background-color: #eee;
    text-align: center
}

aside p {
    text-align: left;
}

footer {
    background-color: black;
    margin-top: 1rem;
    border-top: 1px solid;
    color: white;
    text-align: center;
    padding: 5px;
    font-size: .9em;
}